<h2>Consulta Excluída com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Voltar a Agenda</button>

<script>

    function Voltar()
    {
        window.location.href = '../../Calendario/Index';
    }

</script>