<h2>Usuário Excluído com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Usuários</button>

<script>

    function Voltar()
    {
        window.location.href = '../../Usuario';
    }

</script>